@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 990;	
	font-family: 'Roboto', cursive;
	width: 50%;
}

.login-register-option{
	white-space: nowrap;
	margin-bottom: 20px;
}

.base-container {
	background-image: url('../../images/notes.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	font-family: 'Roboto', cursive;
	
	
	.header {
		margin-top: 3%;
		color: #ffff;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.content {
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		margin-top: 30px;
		min-width: 50%;
		margin: auto;
		
		.image {
			width: 21em;
			margin-left: 40px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		
		.form {
			margin-top: 2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #ffffff;
			padding: 0 50px;
			height: 100%;
			text-align: center;
			
			.form-group {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: fit-content;
				label {
					font-size: 20px;
				}
				input {
					margin-top: 6px;
					min-width: 18em;
					height: 37px;
					padding: 0px 10px;
					font-size: 16px;
					background-color: #f3f3f3;
					border: 0;
					border-radius: 4px;
					margin-bottom: 31px;
					transition: all 250ms ease-in-out;
					&:focus {
						outline: none;
						box-shadow: 0px 0px 12px 0.8px #3474dbb2;
					}
				}
			}
		}
	}
}
.footer {
	margin-top: 3em;
	//   background-image: url("backgroundimg.jpg")
}

.login-body h1 {
	font-weight: bold;
	margin: 0;
	font-size: 1.3em;
	text-align: center;
}
.login-body h2 {
	font-size: 1.2em;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.message {
	color: #070707;
	font-family: 'Sofia', sans-serif;
	text-shadow: 3px 3px 3px #ababab;
}

// @media only screen and (max-width: 600px) {
// 	.base-container{
// 		background-size: fit;
// 		background-repeat: no-repeat;
// 		width: 100%;
// 		text-align: center;
// 	}
	
// 	.login-body{
// 		width: 100%;
// 		position: relative;
// 		top: 80px;
// 	}
	
// 	.header {
// 		margin-top: 20px;
// 	}
// 	.register-btn{
// 		position: relative;
// 		top: -20px;
// 		margin: auto;
// 	}
// 	.login-register-option{
// 		white-space: nowrap;
// 		margin-bottom: 20px;
// 	}
// }