@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.base-container {
	background-image: url('../../images/notes.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	font-family: 'Roboto', cursive;

	.login-header {
		margin-top: 20px;
		color: #ffff;
		font-weight: bold;
		margin-bottom: 10px;
		width: 50%;
		text-align: center;
		font-size: 16px;
	}	
	.login-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		background-color: #ffffff;
		margin-top: 10px;
		min-width: 50%;

		.login-image {
			width: 21em;
			margin: 0px;
			display: block;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.message {
			font-family: 'Sofia', sans-serif;
		}
		.login-footer {
			margin-top: 8px;
		}
		.form {
			margin: 0px;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #ffffff;
			padding: 30px 20px;
			text-align: center;

			.form-group {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: fit-content;
				margin-top: 10px;
				label {
					font-size: 20px;
				}
				input {
					margin-top: 0px;
					min-width: 18em;
					height: 37px;
					padding: 0px 10px;
					font-size: 16px;
					background-color: #f3f3f3;
					border: 0;
					border-radius: 4px;
					transition: all 250ms ease-in-out;
					&:focus {
						outline: none;
						box-shadow: 0px 0px 12px 0.8px #3474dbb2;
					}
				}
			}
		}
	}
}

// @media only screen and (max-width: 600px) {
// 	.base-container{
// 		background-size: fit;
// 		background-repeat: no-repeat;
// 		width: 100%;
// 		text-align: center;
// 	}

// 	.login-body{
// 		width: 100%;
// 		position: relative;
// 		top: 80px;
// 	}

// 	.header {
// 		margin-top: 20px;
// 	}
// 	.register-btn{
// 		position: relative;
// 		top: -20px;
// 		margin: auto;
// 	}
// 	.login-register-option{
// 		white-space: nowrap;
// 		margin-bottom: 20px;
// 	}
// }
