.add-note-fields {
    border-radius: 10px;
    outline: none;
    background-color: red;
}
.add-note-fields:hover{
    border: 2px solid #077784;
    border-radius: 10px;
    background-color: #fff;
}

#topic, #title, #note {
    min-width: 100%;
    max-width: 100%;
}


.note-avatar{
    height: 50px;
    width: 50px;
}

.note-date{
    position: relative;
    top: 15px;
}

.title{
    text-align: center;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

#note-title{
    color: #777877;
    font-size: 1.5em;
}

.btn-add-note{
    margin: 0 auto;
    position: relative;
    left: 48%;
}

.btn-add-note:nth-child(2){
    margin-left: 20px;
}