#search form{
    margin-top: 22px;
}

#search form input {
    
    border: 1px solid #077784;
}

#search_btn{
    background-color: inherit;
    border: 1px solid #077784;
    font-size: 1em;
    color:#495057;  
}