#search{
    position: relative;
    width: 400px;
}

#search form{
    margin: 10px 0px;
}

#search form input {
    background-color: #efeeee;
    border: 1px solid #077784;
}

#search_btn{
    background-color: inherit;
    border: 1px solid #077784;
    font-size: inherit;
    font-family: 'Roboto', cursive;
    color:#efeeee; 
    position: relative;
}

#viewsearch{
    background-color: #efeeee;
    position: absolute;
    height: auto;
    width: 100%;
    padding: 10px 15px;
  }

  /*------------------------------------------------
Mobile screen
---------------------------------------------------*/

@media all and (max-width: 700px) {
	#search{
        width: 300px;
	}
	
}