/*------------------------------------
Global Styles
-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: calc(10px + 2vmin);
}
a {
  color: #077784;
}

a,
a:hover {
  text-decoration: none;
}
img {
  object-fit: cover;
}

.underline {
  margin: 8px 0px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 2px;
}


/*-------------------------------------------
Icon ans Spinner styles
----------------------------------------------*/
.icon {
  font-size: 1.9em;
  color: #077784;
}

@media (prefers-reduced-motion: no-preference) {
  .spin-it {
    animation: spinner infinite 1s linear;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------------------------------------------------
Add Note styles
--------------------------------------------------*/
.notes-container {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  padding: 20px 20px;
  font-weight: 300;
}

.notes-container .underline {
  display: block;
}
#note-title{
  font-weight: 600;
  text-align: left;
}

.add-note-container {
  position: relative;
  top:0;
  left: 0;
  margin: 10px 0px auto;
  width: 100%;
  border-radius: 5px;
}

.add-note-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.add-note-container > form > textarea {
  position: relative;
  min-height: 150px;
  background-color: #fcfcfc;
  outline: 0 !important;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  color: #6a6a6a;
  font-family: inherit;
  font-size: inherit;
}
.add-note-fields {
  margin: 2.5px 0px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.add-note-container > form > input {
  position: relative;
  min-height: 38px;
  background-color: #ffffff;
  outline: 0 !important;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  color: #6a6a6a;
  font-family: inherit;
  font-size: inherit;
}

.add-note-btn {
  margin: 2.5px 0px;
  padding: 0.65rem 1.1rem;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: 1px solid #cdcdcd;
  color: #fcfcfc;
  background-color: #077784;
  border-radius: 5px;
}

/*------------------------------------------------
View note styles
---------------------------------------------------*/
.note-list{
 position: relative;
}

.note-title{
  font-weight: 600;
}
.note-avatar{
  height: 40px;
  width: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.media-body{
  line-height: 0.2;
}

#scrollToTop{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #077784;
  color: #fcfcfc;
  position: fixed;
  bottom: 25px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.note{
  background: #eeeeee;
}

/*--------------------------------------------------
Search styles
----------------------------------------------------*/
#search{
  position: relative;
}
#viewsearch{
  position: relative;
  top:10px;
  height: 100px;
  max-height: 200px;
  overflow-y: scroll;
}

/*------------------------------------------------
Medium screen
---------------------------------------------------*/
@media all and (max-width: 991px) {
  .note p{
    font-size: calc(12px + 1vmin);
  }
}

/*------------------------------------------------
Mobile screen
---------------------------------------------------*/

@media all and (max-width: 640px) {
  .note-title{
    font-weight: 600;
    text-align: center;
  }
  .note p{
    font-size: calc(12px + 1vmin);
  }


}
/*---------------------------------------------
Responsive for large screens
-------------------------------------------------*/
@media only screen and (min-width: 991px) {
  
}
