*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #edf3f3;
}

#preloader {
	margin: 2em;
	font-size: 2em;
}

.welcome {
	color: white;
}

main {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	width: 100%;
	box-sizing: border-box;
}
p {
	font-size: 12pt;
}
a {
	text-decoration: none;
	color: rgb(9, 71, 100);
}

a:hover {
	color: #f26627;
	text-decoration: none;
}

img {
	object-fit: cover;
}

.underline {
	margin: 8px 0px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 2px;
}

/*-------------------------------------------
  Icon ans Spinner styles
  ----------------------------------------------*/
.icon {
	font-size: 1.9em;
	color: #f26627;
}

@media (prefers-reduced-motion: no-preference) {
	.spin-it {
		animation: spinner infinite 1s linear;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#scrollToTop {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #077784;
	color: #fcfcfc;
	position: fixed;
	bottom: 25px;
	right: 30px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1000;
}

.back-btn {
	position: relative;
	left: 40%;
}
